@import "./button.scss";
@import "./mixin.scss";

:root {
  --display-style: block;
}

html,
body {
  font-size: 13px;
  overflow: hidden;
  background-color: #424A3B;

  @include tablet {
    font-size: 15px;
  }
  @include desktop {
    font-size: 20px;
  }
}

// Reset CSS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  height: 100vh;
}

@keyframes flicker {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
}

.flicker {
  animation: flicker 1s infinite;
  text-decoration: underline;
}

.active{
  opacity: 0;
  visibility: hidden;
}